doctype html
html(lang="en")
  head
  body
    = self.datetime.toLocaleDateString() + " " + self.datetime.toLocaleTimeString()
    table
      thead
        tr
          th Issue
          th Due date
          th Completion
          th Business value
          th Blockers
          th Priority
          th Api
      tbody
        each val, index in self.self
          tr
            td
              a(href=val.html_url)
                = val.title + " #" + val.number

            td= val.priority.attributes.due_date
            td= val.priority.attributes.completion
            td= val.priority.attributes.business_value
            td= val.priority.attributes.blockers
            td= val.priority.calculated
            td
              a(href=val.url) api